@charset 'utf-8';

/* 기본스타일 */
.section{
  width:100%;
  max-width:1980px;
  margin:0 auto;
  padding-top:80px;
  padding-bottom:50px;
}

h2{
  padding-top:60px;
  padding-bottom:20px;
  font-size:3em;
  color:#333333;
  text-align:center;
}

.section#i_am h2,
.section#portfolio h2{
  color:#ffffff;
}

.section>.content>p{
  text-decoration:underline;
  color:#666666;
  text-align:center;
  font-size:1.2em;
  font-style:italic;
}
.section#i_am>.content>p,
.section#portfolio>.content>p{
  color:#cccccc;
}





/* 테블릿 스타일 */
@media (max-width:960px){
  
}









/* 모바일 스타일 */
@media (max-width:767px){
  
}